{% extends '::basePanier.html.twig' %}
{% block panier %}
    <p>Bonjour Mr {{ utilisateur.nom }}, merci de renseigner les informations ci-dessou afin de finaliser votre commande</p>
    <br>
    <div class="well">
        {{ form(form) }}
    </div>
{% endblock %}