<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Le titre du document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        .bd-example {
            position: relative;
            padding: 1rem;
            margin: 1rem -15px 0;
            border: solid #f7f7f9;
            border-width: .2rem 0 0;
        }

    </style>
</head>
<h1></h1>
<h3>You did it! You registered!</h3>

Hi ! You're successfully registered.

<div class="container">
    <div class="row justify-content-start">
        <div class="col col-sm-3">
            <div class="card mb-3" style="width: 230px" >
                <img class="card-img-top" src="https://www.louvre.fr/sites/all/themes/louvre/img/data/logo-louvre.jpg" alt="logo_louvre">
                <div class="card-body">
                    <h5 class="card-title">MUSEE PLEIN TARIF</h5>
                    <h6 class="card-subtitle text-muted">Stefano PERICO</h6>
                    <p class="card-text">
                        DATE : 15-01-03 <br>
                        PRIX : 7.50€
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


Thanks!
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
