{% extends '::basePanier.html.twig' %}
{% block panier %}
    <div>
        {{ include(':louvre/form:formPanier.html.twig') }}
    </div>
    <br>
    <div>
        <select class="selectpicker">
            <option>Journée</option>
            <option>Demi-journée</option>
        </select>
    </div>
{% endblock %}
