{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron text-center">
        <img class="logo-icon" src="{{ asset('images/logo-louvre.jpg') }}">
        <br>
        <h2>Merci pour votre commande</h2>
        <p>Vous allez recevoir vos billets sur l'adresse mail que vous avez indiqué. Bonne visite dans notre musée.</p>
        <a href="{{ path('accueil') }}">
         <button class="btn btn-info float-right">Retourner à l'accueil</button>
        </a>
    </div>
{% endblock %}